<div class="first_div">
<h1 class="heading1"><b>Instructor Instructs but,</b></h1>

<h2 class="display"><b>Teacher Inspires</b></h2>
<p >Do you have a teacher in you ? 
  <button>Be the One</button>
</p>
</div>
<br>
<div class="container-fluid second_div">
 
   <div class="row">
    <div class="col-sm-4 first_span" >Why<br>
Learnmall.in ?</div>
    <div class="col-sm-4 second_span" >
      
       <h2> Zero Commissions</h2><br>
Your effort as a teacher is valuable and we don't take even a single rupee as a commission from your course earnings.
      
    </div>
    <div class="col-sm-4 first_span" >Why
Learnmall.in ?</div>
  </div>
</div>
